<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd">
	
	<int:channel id="fixchannel"/>

	<int:gateway id="fixgateway" service-interface="io.blace.microservices.fixexecutionreportservice.integration.gateway.FIXGateway" default-request-channel="fixchannel"/>
	
	<bean id="erService" class="io.blace.microservices.fixexecutionreportservice.integration.services.ERService"/>
	<bean id="erTransform" class="io.blace.microservices.fixexecutionreportservice.integration.transformers.ERTransformer"/>
	
	<int:chain id="fixchain" input-channel="fixchannel" output-channel="nullChannel">
		<int:service-activator ref="erTransform" method="fixtoer"/>
		<int:service-activator ref="erService" method="savetomongo"/>
	</int:chain>
	
 </beans>
